@{ ViewData["Title"] = "Home Page"; }

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h2>Austin Marcoux's Real News</h2>
    <p>This news site is very trustworthy, because I'm just an average guy with no reason to lie on the internet</p>
    <!--only prompt user to log in if they're not, because common sense-->
    @if (!User.Identity.IsAuthenticated)
    {
    <p>Anybody can create their own author profile, by clicking the Register link at the top, or <a asp-area="Identity" asp-page="/Account/Register">right here</a></p>
    }
    <p>If you'd like to view or edit articles, click on Article List, or <a asp-action="Index" asp-controller="Articles">right here</a></p>
</div>
