@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>All data on this site is submitted by other users, with no official moderation</p>
<p>Use supplied information at your own risk</p>
<p>Austin Marcoux takes no responsibility for consequences of referencing available articles</p>
